.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App  {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-family: "Impact";
  border: 10px solid Orange;
  margin: 0px;
  color: Orange;
}

.landing {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Arial";
  border: 10px solid Orange;
  margin: 10px;
  color: Orange;
}

.album {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: "Arial";
  border: 10px solid Orange;
  margin: 10px;
  color: Orange;
}

.library {
  background-color: orange;
  font-size: 50px;
  font-family: "Impact";
  border: 10px solid Orange;
  margin: 30px;
}

.PlayerBar {
border: 2px solid black;
width: 250px;
margin:auto;
height: 175px;
margin:auto;
}



.App nav {
  color: orange;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
